@import "../../variables/variables.scss";

body{
    margin: 0;
    padding: 0;
    background-color: $lightgray;
}

.repoListingCard{
    border:1px solid;
    display: flex;
    flex-direction: column; 
    width: 300px;
    margin-top: 10px;
    
}

.repoListingCard p{
    margin: auto;
}

.repoListingCard textarea{
    height: 15px;
    resize: none;
}

