@import "../../variables/variables.scss";

body{
    margin: 0;
    padding: 0;
    background-color: $lightgray;
}

.landingPage{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.landingPage button{
    border-radius: 5px;
    height: 35px;
    background-color: $green;
    color: $white;
    cursor: pointer;
}
.landingPage img{
    background-color:$lightgray;
}
